apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

## condsidering resources under cluster-api-provider-azure/config/default directory to generate the CAPZ CRDs and CRs
resources:
- default/

transformers:
- base/transformer.yaml

## Patch the default CAPZ CRDs & CRs with OCP dwonstream CAPZ requirements.
patches:
  - target:
      kind: Namespace
    patch: |-
      $patch: delete
      apiVersion: v1
      kind: Namespace
      metadata:
        name: capz-system
  - target:
      version: v1
      kind: Certificate
      name: capz-serving-cert
    patch: |-
      - op: replace
        path: /spec/dnsNames/0
        value: "capz-webhook-service.{{ .Release.Namespace }}.svc"
      - op: replace
        path: /spec/dnsNames/1
        value: "capz-webhook-service.{{ .Release.Namespace }}.svc.cluster.local"
  - target:
      version: v1
      kind: Certificate
      name: azureserviceoperator-serving-cert
    patch: |-
      - op: replace
        path: /spec/dnsNames/0
        value: "azureserviceoperator-webhook-service.{{ .Release.Namespace }}.svc"
      - op: replace
        path: /spec/dnsNames/1
        value: "azureserviceoperator-webhook-service.{{ .Release.Namespace }}.svc.cluster.local"
  - target:
      version: v1
      annotationSelector: cert-manager.io/inject-ca-from
      labelSelector: cluster.x-k8s.io/provider=infrastructure-azure
    patch: |-
      - op: replace
        path: /metadata/annotations/cert-manager.io~1inject-ca-from
        value: "multicluster-engine/capz-serving-cert"
  - target:
      version: v1
      annotationSelector: cert-manager.io/inject-ca-from
      labelSelector: app.kubernetes.io/name=azure-service-operator
    patch: |-
      - op: replace
        path: /metadata/annotations/cert-manager.io~1inject-ca-from
        value: "multicluster-engine/azureserviceoperator-serving-cert"
  - target:
      version: v1
      annotationSelector: cert-manager.io/inject-ca-from
      name: capz-(mutating|validating)-webhook-configuration
    patch: |-
      - op: replace
        path: /metadata/annotations/cert-manager.io~1inject-ca-from
        value: "{{ .Release.Namespace }}/capz-serving-cert"
  - target:
      version: v1
      annotationSelector: cert-manager.io/inject-ca-from
      name: azureserviceoperator-(mutating|validating)-webhook-configuration
    patch: |-
      - op: replace
        path: /metadata/annotations/cert-manager.io~1inject-ca-from
        value: "{{ .Release.Namespace }}/azureserviceoperator-serving-cert"
  - target:
      namespace: capz-system
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: '{{ .Release.Namespace }}'
  - target:
      version: v1
      kind: CustomResourceDefinition
      name: ((azureclusteridentities|azureclusters|azureclustertemplates|azuremachinepoolmachines|azuremachinepools|azuremachines|azuremachinetemplates).infrastructure.cluster.x-k8s.io|((bastionhosts|natgateways|networksecuritygroups|privateendpoints|virtualnetworks|virtualnetworkssubnets).network|extensions.kubernetesconfiguration|fleetsmembers.containerservice|(hcpopenshiftclusters|hcpopenshiftclustersexternalauths|hcpopenshiftclustersnodepools).redhatopenshift|managedclusters.containerservice|managedclustersagentpools.containerservice|resourcegroups.resources|roleassignments.authorization|userassignedidentities.managedidentity|vaults.keyvault).azure.com)
    patch: |-
      - op: replace
        path: /spec/conversion/webhook/clientConfig/service/namespace
        value: "multicluster-engine"
  # Update secrets
  - target:
      version: v1
      kind: Secret
      name: capz-manager-bootstrap-credentials
    patch: |-
      - op: add
        path: /metadata/labels/cluster.open-cluster-management.io~1backup
        value: ""
  - target:
      version: v1
      kind: Secret
      name: aso-controller-settings
    patch: |-
      - op: add
        path: /stringData/AZURE_CLIENT_SECRET
        value: ""
      - op: add
        path: /stringData/USE_WORKLOAD_IDENTITY_AUTH
        value: ""
  # Replace Deployment with default values & helm chart value
  - target:
      version: v1
      kind: Deployment
      name: capz-controller-manager
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: '{{ .Values.manager.image.url  }}:{{ .Values.manager.image.tag  }}'
  - target:
      version: v1
      kind: Deployment
      name: azureserviceoperator-controller-manager
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: '{{ .Values.aso.image.url  }}:{{ .Values.aso.image.tag  }}'

# Fix conflict between CAPI and CAPZ while using the same namespace
#      control-plane: controller-manager -> azureserviceoperator-controller-manager
  - target:
      version: v1
      kind: Deployment
      name: azureserviceoperator-controller-manager
    patch: |-
      - op: replace
        path: /spec/template/metadata/labels/control-plane
        value: azureserviceoperator-controller-manager
      - op: replace
        path: /metadata/labels/control-plane
        value: azureserviceoperator-controller-manager
      - op: replace
        path: /spec/selector/matchLabels/control-plane
        value: azureserviceoperator-controller-manager
  - target:
      version: v1
      kind: PodDisruptionBudget
      name: azureserviceoperator-pdb
    patch: |-
      - op: replace
        path: /metadata/labels/control-plane
        value: azureserviceoperator-controller-manager
      - op: replace
        path: /spec/selector/matchLabels/control-plane
        value: azureserviceoperator-controller-manager
  - target:
      version: v1
      kind: Service
      name: azureserviceoperator-controller-manager-metrics-service
    patch: |-
      - op: replace
        path: /metadata/labels/control-plane
        value: azureserviceoperator-controller-manager
      - op: replace
        path: /spec/selector/control-plane
        value: azureserviceoperator-controller-manager
  - target:
      version: v1
      kind: Service
      name: azureserviceoperator-webhook-service
    patch: |-
      - op: replace
        path: /spec/selector/control-plane
        value: azureserviceoperator-controller-manager
