apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://raw.githubusercontent.com/metal3-io/ip-address-manager/0b6b7b2f2bd8110520b0ac6529a14f778537c0b7/config/crd/bases/ipam.metal3.io_ipaddresses.yaml
- https://raw.githubusercontent.com/metal3-io/ip-address-manager/0b6b7b2f2bd8110520b0ac6529a14f778537c0b7/config/crd/bases/ipam.metal3.io_ipclaims.yaml
- https://raw.githubusercontent.com/metal3-io/ip-address-manager/0b6b7b2f2bd8110520b0ac6529a14f778537c0b7/config/crd/bases/ipam.metal3.io_ippools.yaml
- default/

namePrefix: mce-

namespace: multicluster-engine

## Patch the default resources with OCP downstream requirements.
patches:
  - target:
      kind: Namespace
    patch: |-
      $patch: delete
      apiVersion: v1
      kind: Namespace
      metadata:
        name: capm3-system
   # Remove cert-manager Certificate and Issuer
  - target:
      kind: Certificate
    patch: |-
      $patch: delete
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: capm3-serving-cert
        namespace: capm3-system
  - target:
      kind: Issuer
    patch: |-
      $patch: delete
      apiVersion: cert-manager.io/v1
      kind: Issuer
      metadata:
        name: capm3-selfsigned-issuer
        namespace: capm3-system
  # Remove cert-manager annotation and add OCP cert service annotation
  - target:
      version: v1
      kind: CustomResourceDefinition
      annotationSelector: "cert-manager.io/inject-ca-from"
    patch: |-
      - op: remove
        path: /metadata/annotations/cert-manager.io~1inject-ca-from
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1inject-cabundle
        value: true
  - target:
      version: v1
      kind: MutatingWebhookConfiguration
    patch: |-
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1inject-cabundle
        value: true
      - op: remove
        path: /metadata/annotations/cert-manager.io~1inject-ca-from
  - target:
      version: v1
      kind: ValidatingWebhookConfiguration
    patch: |-
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1inject-cabundle
        value: true
      - op: remove
        path: /metadata/annotations/cert-manager.io~1inject-ca-from
  - target:
      version: v1
      kind: Service
      name: capm3-webhook-service
    patch: |-
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1serving-cert-secret-name
        value: mce-capm3-webhook-service-cert
  - target:
      kind: Deployment
      name: capm3-controller-manager
    patch: |-
      - op: replace
        path: /spec/template/spec/volumes/0/secret/secretName
        value: mce-capm3-webhook-service-cert
  - target:
      version: v1
      kind: Service
      name: ipam-webhook-service
    patch: |-
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1serving-cert-secret-name
        value: ipam-webhook-service-cert
  # Replace Deployment with default values & helm chart value
  - target:
      version: v1
      kind: Deployment
      name: capm3-controller-manager
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: '{{ .Values.manager.image.url }}:{{ .Values.manager.image.tag }}'
      - op: replace
        path: /spec/template/spec/containers/0/args/1
        value: --enableBMHNameBasedPreallocation=false
      - op: replace
        path: /spec/template/spec/containers/0/args/2
        value: --diagnostics-address=:8443
      - op: replace
        path: /spec/template/spec/containers/0/args/3
        value: --insecure-diagnostics=false
      - op: replace
        path: /spec/template/spec/containers/0/args/4
        value: --tls-min-version=VersionTLS13
      - op: remove
        path: /spec/template/spec/containers/0/securityContext/runAsUser
      - op: remove
        path: /spec/template/spec/containers/0/securityContext/runAsGroup
