apiVersion: v1
kind: Service
metadata:
  name: capoa-controlplane-webhook-service
  namespace: '{{ .Release.Namespace }}'
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    control-plane: capoa-controlplane-controller-manager
