apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

## condsidering resources under cluster-api-provider-azure/config/default directory to generate the CAPZ CRDs and CRs
resources:
- default/

transformers:
- base/transformer.yaml

## Patch the default CAPZ CRDs & CRs with OCP dwonstream CAPZ requirements. 
patches:
  # Remove unnecessary resources
  - target:
      kind: Certificate
    patch: |-
      $patch: delete
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: capz-serving-cert
        namespace: capz-system
  - target:
      kind: Issuer
    patch: |-
      $patch: delete
      apiVersion: cert-manager.io/v1
      kind: Issuer
      metadata:
        name: capz-selfsigned-issuer
        namespace: capz-system
  # Remove the webhook conversion part from CRDs to match Hypershift CRDs
  # NOTE: This patch is commented out because Azure Service Operator CRDs require conversion webhooks
  # - target:
  #     version: v1
  #     kind: CustomResourceDefinition
  #     annotationSelector: "cert-manager.io/inject-ca-from"
  #   patch: |-
  #     - op: add
  #       path: /spec/conversion
  #     - op: remove
  #       path: /spec/conversion
  # # Removing the caBundle field (TODO: remove this patch in next release as caBundle is removed upstream)
  # - target:
  #     version: v1
  #     kind: CustomResourceDefinition
  #     annotationSelector: "cert-manager.io/inject-ca-from"
  #   patch: |-
  #     apiVersion: apiextensions.k8s.io/v1
  #     kind: CustomResourceDefinition
  #     metadata:
  #       name: "notused"
  #     spec:
  #       conversion:
  #         webhook:
  #           clientConfig:
  #             caBundle: null
  # # related to above patch (TODO: remove next release)
  # - target:
  #     version: v1
  #     kind: CustomResourceDefinition
  #     name: awsmanagedclusters.infrastructure.cluster.x-k8s.io
  #   patch: |-
  #     - op: remove
  #       path: /spec/conversion 
  # Remove cert-manager annotation from CRDs
  # NOTE: service.beta.openshift.io/inject-cabundle does NOT work for CRD conversion webhooks
  # The CA bundle must be injected post-deployment using a script or admission controller
  - target:
      version: v1
      kind: CustomResourceDefinition
      annotationSelector: "cert-manager.io/inject-ca-from"
    patch: |-
      - op: remove
        path: /metadata/annotations/cert-manager.io~1inject-ca-from
  - target:
      version: v1
      kind: MutatingWebhookConfiguration
    patch: |-
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1inject-cabundle
        value: true
      - op: remove
        path: /metadata/annotations/cert-manager.io~1inject-ca-from
  - target:
      version: v1
      kind: ValidatingWebhookConfiguration
    patch: |-
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1inject-cabundle
        value: true
      - op: remove
        path: /metadata/annotations/cert-manager.io~1inject-ca-from
  # Update secrets
  - target:
      version: v1
      kind: Secret
      name: capz-manager-bootstrap-credentials
    patch: |-
      - op: add
        path: /metadata/labels/cluster.open-cluster-management.io~1backup
        value: ""
  # Replace Deployment with default values & helm chart value
  - target:
      version: v1
      kind: Deployment
      name: capz-controller-manager
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: '{{ .Values.manager.image.url  }}:{{ .Values.manager.image.tag  }}'
      - op: replace
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: Always
      - op: remove
        path: /spec/template/spec/containers/0/securityContext/runAsUser
      - op: remove
        path: /spec/template/spec/containers/0/securityContext/runAsGroup
      # - op: remove
      #   path: /spec/template/spec/securityContext/fsGroup
  # Remove runAsUser and runAsGroup from Azure Service Operator deployment for OCP compatibility
  - target:
      version: v1
      kind: Deployment
      name: azureserviceoperator-controller-manager
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: '{{ .Values.aso.image.url  }}:{{ .Values.aso.image.tag  }}'
      - op: replace
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: Always
      - op: remove
        path: /spec/template/spec/containers/0/securityContext/runAsUser
      - op: remove
        path: /spec/template/spec/containers/0/securityContext/runAsGroup
  # Add OCP cert service annotation
  - target:
      kind: Service
      name: capz-webhook-service
    patch: |-
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1inject-cabundle
        value: true
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1serving-cert-secret-name
        value: capz-webhook-service-cert
  # Add OCP cert service annotation
  - target:
      kind: Service
      name: azureserviceoperator-webhook-service
    patch: |-
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1inject-cabundle
        value: true
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1serving-cert-secret-name
        value: webhook-server-cert
