apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

## condsidering resources under cluster-api-provider-aws/config/default directory to generate the CAPA CRDs and CRs
resources:
- default/

transformers:
- base/transformer.yaml

## Patch the default CAPA CRDs & CRs with OCP dwonstream CAPA requirements. 
patches:
  # Removing the caBundle field (TODO: remove this patch in next release as caBundle is removed upstream)
  - target:
      version: v1
      kind: CustomResourceDefinition
      annotationSelector: "cert-manager.io/inject-ca-from"
    patch: |-
      apiVersion: apiextensions.k8s.io/v1
      kind: CustomResourceDefinition
      metadata:
        name: "notused"
      spec:
        conversion:
          webhook:
            clientConfig:
              caBundle: null
  # related to above patch (TODO: remove next release)
  - target:
      version: v1
      kind: CustomResourceDefinition
      name: awsmanagedclusters.infrastructure.cluster.x-k8s.io
    patch: |-
      - op: remove
        path: /spec/conversion
  # Remove cert-manager annotation and add OCP cert service annotation
  - target:
      version: v1
      kind: CustomResourceDefinition
      annotationSelector: "cert-manager.io/inject-ca-from"
    patch: |-
      - op: remove
        path: /metadata/annotations/cert-manager.io~1inject-ca-from
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1inject-cabundle
        value: true
  - target:
      version: v1
      kind: MutatingWebhookConfiguration
    patch: |-
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1inject-cabundle
        value: true
      - op: remove
        path: /metadata/annotations/cert-manager.io~1inject-ca-from
  - target:
      version: v1
      kind: ValidatingWebhookConfiguration
    patch: |-
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1inject-cabundle
        value: true
      - op: remove
        path: /metadata/annotations/cert-manager.io~1inject-ca-from
  - target:
      version: v1
      kind: Service
      name: capi-webhook-service
    patch: |-
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1inject-cabundle
        value: true
  # Replace service account annotation with AWS IAM role helm chart value
  - target:
      version: v1
      kind: ServiceAccount
      name: capa-controller-manager
    patch: |-
      - op: replace
        path: /metadata/annotations
        value:
          iam.amazonaws.com/role: '{{ .Values.aws.iamRole }}'
  # Replace sceret with AWS credentials helm chart value
  - target:
      version: v1
      kind: Secret
      name: capa-manager-bootstrap-credentials
    patch: |-
      - op: remove
        path: /data
      - op: add
        path: /metadata/labels/cluster.open-cluster-management.io~1backup
        value: ""
  # Replace Deployment with default values & helm chart value
  - target:
      version: v1
      kind: Deployment
      name: capa-controller-manager
    patch: |-
      - op: replace
        path: /spec/template/metadata/annotations/iam.amazonaws.com~1role
        value: '{{ .Values.aws.iamRole }}'
      - op: replace
        path: /spec/template/spec/affinity/nodeAffinity/preferredDuringSchedulingIgnoredDuringExecution/0/preference/matchExpressions/0/key
        value: 'node-role.kubernetes.io/control-plane'
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: '{{ .Values.manager.image.url  }}:{{ .Values.manager.image.tag  }}'
      - op: replace
        path: /spec/template/spec/containers/0/command
        value:
        - '{{ .Values.manager.cmd  }}'
      - op: add
        path: /spec/template/spec/containers/0/env
        value:
        - name: AWS_SHARED_CREDENTIALS_FILE
          value: /home/.aws/credentials
        - name: OCM_TOKEN
          value: '{{ .Values.rosa.ocmToken  }}'
      - op: replace
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: IfNotPresent
      - op: remove
        path: /spec/template/spec/containers/0/securityContext/runAsUser
      - op: remove
        path: /spec/template/spec/containers/0/securityContext/runAsGroup
      - op: remove
        path: /spec/template/spec/securityContext/fsGroup
  # Add OCP cert service annotation
  - target:
      kind: Service
      name: capa-webhook-service
    patch: |-
      - op: add
        path: /metadata/annotations/service.beta.openshift.io~1serving-cert-secret-name
        value: capa-webhook-service-cert
