apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: capoa-controlplane-webhook-cert-secret
  name: capoa-controlplane-webhook-service
  namespace: multicluster-engine
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    control-plane: capoa-controlplane-controller-manager
