apiVersion: v1
kind: Service
metadata:
  name: capoa-controlplane-webhook-service
  namespace: capoa-controlplane-system
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    control-plane: capoa-controlplane-controller-manager
