apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

## condsidering resources under cluster-api-provider-azure/config/default directory to generate the CAPZ CRDs and CRs
resources:
- default/

transformers:
- base/transformer.yaml

## Patch the default CAPZ CRDs & CRs with OCP dwonstream CAPZ requirements.
patches:
  # Update secrets
  - target:
      version: v1
      kind: Secret
      name: capz-manager-bootstrap-credentials
    patch: |-
      - op: add
        path: /metadata/labels/cluster.open-cluster-management.io~1backup
        value: ""
  # Replace Deployment with default values & helm chart value
  - target:
      version: v1
      kind: Deployment
      name: capz-controller-manager
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: '{{ .Values.manager.image.url  }}:{{ .Values.manager.image.tag  }}'
  - target:
      version: v1
      kind: Deployment
      name: azureserviceoperator-controller-manager
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: '{{ .Values.aso.image.url  }}:{{ .Values.aso.image.tag  }}'
