---
name: Sync

on:
  schedule:
    - cron: "24 0 * * 3"

jobs:
  call-sync-branches:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dst-branch: [release-2.10, release-2.11]

    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/sync-providers.yaml
    with:
      dst-branch: ${{ matrix.dst-branch }}
    secrets:
      personal_access_token: ${{ secrets.GITHUB_TOKEN }}
      JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
